In [ ]:
import pandas as pd


data = {
    'Name': ['John', 'Mary', 'Bob', 'Sarah', 'Tom', 'Lisa'],
    'Department': ['IT', 'Marketing', 'Sales', 'IT', 'Finance', 'Marketing'],
    'Age': [30, 40, 25, 35, 45, 28],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male', 'Female'],
    'Salary': [50000, 60000, 45000, 55000, 70000, 55000],
    'Experience': [3, 7, 2, 5, 10, 4]
}

employee_df = pd.DataFrame(data)

first_3_rows = employee_df.iloc[:3]
print("First 3 rows:")
print(first_3_rows)


marketing_employees = employee_df.loc[employee_df['Department'] == 'Marketing']
print("\nMarketing department employees:")
print(marketing_employees)


age_gender_first_4 = employee_df.iloc[:4, [2, 3]]
print("\nAge and Gender for first 4 rows:")
print(age_gender_first_4)


male_salary_experience = employee_df.loc[
    employee_df['Gender'] == 'Male',
    ['Salary', 'Experience']
]
print("\nSalary and Experience for Male employees:")
print(male_salary_experience)

First 3 rows:
   Name Department  Age  Gender  Salary  Experience
0  John         IT   30    Male   50000           3
1  Mary  Marketing   40  Female   60000           7
2   Bob      Sales   25    Male   45000           2

Marketing department employees:
   Name Department  Age  Gender  Salary  Experience
1  Mary  Marketing   40  Female   60000           7
5  Lisa  Marketing   28  Female   55000           4

Age and Gender for first 4 rows:
   Age  Gender
0   30    Male
1   40  Female
2   25    Male
3   35  Female

Salary and Experience for Male employees:
   Salary  Experience
0   50000           3
2   45000           2
4   70000          10